


<div class="container hero-section">
    <div class="row align-items-center">
      
      <!-- Left Side: Text -->
      <div class="col-md-6 hero-text">
        <h1 class="text-white">Experience the Future</h1>
        <p class="text-white">✨ Try Virtual AI<br>📷 Try Live<br>💎 Discover Jewelry Like Never Before</p>
        <a href="/shopping" class="btn btn-danger mt-4">Explore Now</a>
      </div>
  
      <!-- Right Side: Image -->
      <div class="col-md-6 hero-img text-center">
        <img src="./../../../assets/homemainGirl.jpeg" alt="Virtual Try-On" width="500" height="500">
      </div>
    </div>
  </div>
  


  <div>
    <h1 class="text-white gallery">Gallery</h1>
    <ul class="img-list">
        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/012.jpg"></li>
        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/009.jpg"></li>
        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/010.jpg"></li>
        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/012.jpg"></li>
        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/009.jpg"></li>
        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/010.jpg"></li>
     


      </ul>
  </div>

  